.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;

  .backLink {
    margin-bottom: 20px;
    display: flex;
  }

  .key,
  .commentsTitle {
    font-weight: 600;
  }

  .commentsTitle .comment {
    margin-top: 10px;
  }

  .actionButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}
